<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Ensure index.php handles requests if file/dir doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

# Set DirectoryIndex to prioritize PHP
DirectoryIndex index.php index.html
